/* cheat-sheet.css */ 

/* body is a selector to change the style of the body section on an Html file */

body { background: crimson; /*background is a property to change the background color and yellow is the property value */}
/* there are 140 color names https://www.w3schools.com/colors-names.asp */

/* heading is a class selector that can be applied to several elements on my html page */
.heading { color:midnightblue;}
/* my_paragraph is an id selector than has styling that applies only to one tag on my html. The tag id should be the sakke as this selector */
#my_paragraph { text-align: right; text-decoration: underline; font-weight: bold;
}