body 
{background: rgb(91, 166, 252);font-family: 'Ubuntu', sans-serif;}
h1 {color: rgb(7, 8, 41);}
ol {font-weight:  bold;}
a {color: rgb(130, 50, 255);}
#nav_bar {border-style: double;
	border-width: 3px;}
#nav_bar {background-color: rgb(150, 160, 255);}
#rita_pic {color: red;}
#border {border-style: dashed;}
title {letter-spacing: 20px;}